.DS_Store
HW5/ML_HW5_312657018_陳佳妘.zip
HW6/ML_HW6_312657018_陳佳妘.zip
HW6/plot result.pdf
HW6/compute_npy
*.npy
HW7/tsne_python/mnist2500_X.txt
HW7/tsne_python/mnist2500_labels.txt
HW7/plot\ result
HW7/ML/HW7_312657018_陳佳妘.zip
HW7/Yale_Face_Database
